body {
  background-color: wheat;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

header {
  justify-content: center;
}

.headermap img {
  margin: 20%;
  width: 100px;
  height: 100px;
}

.header {
  background-color: pink;
  display: flex;
  justify-content: space-around;
}
.link {
  display: flex;
  align-items: center;
}
nav {
  display: inline-block;
}
a {
  text-decoration: none;
}
a:hover {
  background-color: white;
}

.headerbtn {
  background-color: peachpuff;
  /* color: black; */
  border: 1px solid palevioletred;
  padding: 10px 20px;
  text-align: center;
  border-radius: 16px;
}

ul {
  list-style-type: none;
}

ul li{
  display: inline-block;
  border-radius: 16px;
  border-color: bisque;
  margin-left: 5rem;
}

.bridge {
  width: 100%;
  height:35rem;
}

#breakline {
  height: 75px;
  border: none;
}

.intro {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(224, 63, 90);
}

.content-container {
  display: flex;
  justify-content: space-between;
  margin: 10%;
}

.paragraph-container {
  margin: 10%;
  text-align: center;
}

.homeaside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  padding-bottom: 1rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}

aside > p {
  margin: 0.5rem;
}

footer {
  background-color: rgb(197, 228, 239);
  padding: 5%;
}

h2 {
  text-align: center;
}

.form-container {
    width: 100%;

  justify-content: space-between;
}
.signup-container {
  align-items: center;
}
.signup-form {
  display: flex;
}

.form-field {
  width: 30%;
  border-radius: 8px;
}
.input-field {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  align-items: center;
  position: relative;
}

label {
  width: -webkit-fill-available;
  padding-left: 35%;
}

ol li{
  text-align: left;
}

.davisimg {
  position: relative;
  margin-left: 10%;
}

.bike {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 10rem;
}

.facts {
  margin-right: 20%;
}

table {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 5rem;
}

td, th {
  border: 1px solid #89c3cf;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #8ec1d4;
}

.disclaimer {
  background-color: #68a4c2;
  text-align: center;
  padding-bottom: 1%;
}

.disclaimer p {
  margin: 0;
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 2%;
  padding-bottom: 1%;
}


